{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<body>
    <Title>Files</Title>
    <a href="{% url 'upload' %}">Upload a File</a>
    <form method="get" action="{% url 'media' %}">
        <input type="checkbox" id="image" name="fileType" value="image">
        <label for="image">Image</label>
        <input type="checkbox" id="video" name="fileType" value="video">
        <label for="video">Video</label>
        <input type="checkbox" id="csv" name="fileType" value="csv">
        <label for="csv">CSV</label>
        <input type="checkbox" id="json" name="fileType" value="json">
        <label for="json">JSON</label>
        <input type="checkbox" id="text" name="fileType" value="text">
        <label for="text">Plain Text</label>
        <input type="submit" value="Filter">
    </form>
    {% if files %}
        <h2>{{ files | length }} {{ fileType }} files found</h2>
        {% for file in files %}
            <p>
                <label for="file">{{ file.name }}</label> -
                <a href="{% url 'delete_file' file.id file.type %}?fileType={{ fileType }}">Delete File</a> -
                {% if fileType%}
                <a href="{% url 'download_file' file.id file.type%}?fileType={{ fileType }}">Download File</a>
                {% else %}
                <a href="{% url 'download_file' file.id file.type%}">Download File</a>
                {% endif %}
            </p>
        {% endfor %}
    {% else %}
        <p>No files available</p>
    {% endif %}
</body>
</html>
{% endblock %}