<!DOCTYPE html>
<html>
<head>
    <title>Live Stream</title>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script> <!-- Include hls.js -->
</head>
<body>
    <h1>Live Stream</h1>

    <select id="cameraSelect">
        {% for camera in cameras %}
            <option value="{{ camera }}">{{ camera }}</option>
        {% endfor %}
    </select>

    <video id="videoPlayer" controls autoplay></video>

    <script>
        var videoPlayer = document.getElementById('videoPlayer');
        var cameraSelect = document.getElementById('cameraSelect');
        var hls = new Hls();

        function updateHlsUrl() {
            var cameraName = cameraSelect.value;
            var hlsUrl = "{{ hls_url }}".replace('{camera_name}', cameraName);

            if(Hls.isSupported()) {
                hls.loadSource(hlsUrl);
                hls.attachMedia(videoPlayer);
                hls.on(Hls.Events.MANIFEST_PARSED, function() {
                    videoPlayer.play();
                });
            }
            // For browsers which do not support HLS.js
            else if (videoPlayer.canPlayType('application/vnd.apple.mpegurl')) {
                videoPlayer.src = hlsUrl;
                videoPlayer.addEventListener('loadedmetadata', function() {
                    videoPlayer.play();
                });
            }
        }

        cameraSelect.addEventListener('change', updateHlsUrl);

        updateHlsUrl();
    </script>
</body>
</html>