{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Upload Page</title>
</head>
<body>
    <h1>Upload a File</h1>
<form method="post" action="{% url 'upload' %}" enctype="multipart/form-data">        {% csrf_token %}
        <label for="fileUpload">Upload a file:</label>
        <input type="file" id="fileUpload" name="file">
        <br>
        <label for="fileType">Select file type:</label>
        <select id="fileType" name="fileType">
            <option value="image">Image</option>
            <option value="video">Video</option>
            <option value="csv">CSV</option>
            <option value="json">JSON</option>
            <option value="text">Plain Text</option>
        </select>
        <br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>
{% endblock %}